<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuliaohui.yy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/ActivityTheme"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".NewProductDetailActivity"
            android:theme="@style/ActivityTheme"
            android:launchMode="singleTop"/>
        <activity android:name=".PublishProductActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:launchMode="singleTop"/>

        <activity android:name=".ProductDetailActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:launchMode="singleTop"/>

        <activity android:name=".OrderDetailActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:launchMode="singleTop"/>

        <activity android:name=".MerchantListActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:launchMode="singleTop"/>

        <activity android:name=".PlaceActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:launchMode="singleTop"/>

        <activity android:name=".TenderListActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:launchMode="singleTop"/>

        <activity android:name=".TenderDetailActivity"
                  android:theme="@style/ActivityTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:launchMode="singleTop"/>

        <activity android:name=".ChatActivity"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"/>

        <activity android:name=".PayActivity"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop"/>

        <activity android:name=".MyActivity"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop"/>

    </application>

</manifest>